# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/

# Environment variables
.env
.env.*

# Build artifacts
build/
release/

# Android
android/app/build/
android/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/
*.xcworkspace

# IDE files
.vscode/

# macOS
.DS_Store